<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fort4.mapper.CategoryMapper">
    
  <select id="getAllCategories" resultType="com.fort4.dto.CategoryDTO">
    SELECT category_id, name FROM category ORDER BY category_id
  </select>

</mapper>