<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- 콘솔 출력 설정 -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p [%c] - %m%n" />
		</layout>
	</appender>
	
	<!-- 내가 작성한 코드만 INFO 레벨로 -->
	<logger name="com.fort4">
		<level value="info" />
	</logger>
	
	<!-- Spring 및 기타 로그는 WARN 이상만 출력 -->
	<logger name="org.springframework">
		<level value="warn" />
	</logger>

	<logger name="org.apache">
		<level value="warn" />
	</logger>
	
	<!-- 마이바티스 디버깅용 -->
	<!-- <logger name="org.mybatis">
	    <level value="DEBUG" />
	</logger> -->
	
	<!-- jdbc -->
	<logger name="jdbc.sqlonly">
		<level value="warn" />
	</logger>
	
	<!-- 루트 로거: 기본 WARN 이상만 출력 -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
